/* :root{

} */

body{

}

.principal-section__heading{
    display : flex;
    justify-content: flex-start;
}

.main-content{
    display : grid;
    grid-template-columns: 1fr 2fr;

}
.firm-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: blueviolet;
    
}
.principal-section{
    display: grid;
    background-color: chocolate;

}

.cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: blue;
}

.card{
    display:grid;
    background-color: brown;
    margin-bottom: 10px; 
    border: 20 px;
    align-items: flex-start;
}

.card__image{
    display: block;
    width: 50px;
    background-color: darkgreen;


}

.card__label{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 3fr;

}

.card__heading{
    display: block;
    
 
}

.card__p{
    display: block;
 
} 