/******************************************************* HEADER ***************************************************************/

/* S'applique sur tout le header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--heater-footer-color);
    box-shadow: 0 8px 6px -6px var(--tertiary-color);
    padding: 20px;
    width: 100%;
    position: sticky;
    top:0;
    font-family: 'Anton', sans-serif;
 
    /* font-family: Arial, sans-serif; */
  }
  
    /* S'applique au conteneur du logo(Simpson AGENCY) */
  .logo-container {
    font-size: 1.5rem;
    /* font-weight: bold; */
    font-weight: lighter;
  }

   /* S'applique pour agency */
  .color-title {
    color: var(--tertiary-color);
  }

  .simpson-text:hover {
    color: var(--tertiary-color);
  }
  
   /* S'applique pour le conteneur contenant les 2 icones */
  .header-links-container {
    display: flex;
    align-items: center;
  }
  
    /* S'applique pour chacunes des 2 icones (deux fois)  */
  .header-link {
    color: var(--second-color);
    font-size: 18px;
    margin-left: 20px;
    font-size: 1.5rem;
  }

    /* S'applique quand on survole l'une des 2 icones */
  .header-link:hover {
    /* color: var(--tertiary-color); */
    border-bottom: 2px solid var(--tertiary-color);
  }
  
