/************************* BODY ****************************************************************/
:root{
    /*--primary-color:#4169e1; */ /*bleu*/
    --primary-color:rgb(76, 73, 73);
    --second-color:#ffffff;
    --tertiary-color:#41e181;
    --heater-footer-color:rgb(55, 52, 52);
}

* {
    box-sizing: border-box; /* ca nous permets de transformer tout les elements meme le texte en boxe */
    padding: 0;
    margin:0; 
  }
  


body{
    background-color: var(--primary-color) ; 
    color: var(--second-color);
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2{

}

h3{

}

p{
    
}

/************************* SECTION ****************************************************************/


.main-content{
    margin-top: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 5rem;

}